<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Car</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h2>Welcome!</h2>
    <form>
        Price Range:<br>
        Min: <input type='text'> Max: <input type='text'> I wish I could spend this much: <input type='text'><br>
        <input type='radio'> Coupe<br>
        <input type='radio'> Sedan<br>
        <input type='radio'> Family-sized<br>
        Must have:<br>
        <input type='checkbox'> Oversized Rims<br>
        <input type='checkbox'> Obnoxious Headlights<br>
        <input type='checkbox'> The ability to recklessly weave through traffic<br>
        <input type='submit' value='Find dream car'>
    </form>
</body>
</html>